.single--story__div {
    width: 62px;
    height: 81px;
    padding: 10px;
}

.story--user__img {
    width: 62px;
    height: 62px;
    position: relative;
    border-radius: 100%;
    background: linear-gradient(314.35deg,
    #e20337 6.03%,
    #c60188 40.88%,
    #7700c3 73.23%);
}

.story--user__img img {
    width: 54px;
    height: 54px;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 1px solid gray;
    outline: 2px solid white;
    background-color: white;

}

.story--user__username {
    width: 59px;
    height: 14px;
    font-size: 12px;
    text-align: center;
}


.logged--user__story {
    height: 98px;
    width: 10%;
    margin-left: 10px;
}

.followed__story {
    height: 98px;
    width: 10%;
}

