.explore__container {
    display: grid; 
    grid-template-columns: 125px 125px 125px; 
    grid-template-rows: 125px 125px 125px 125px 125px 125px 125px 125px 125px 125px 125px 125px 125px 125px 125px 125px 125px 125px 125px 125px; 
    grid-template-areas: 
      "item1 item2 item3"
      "item4 item5 item3"
      "item6 item7 item8"
      "item9 item10 item11"
      "item12 item13 item14"
      "item12 item15 item16"
      "item17 item18 item19"
      "item20 item21 item22"
      "item23 item24 item25"
      "item26 item27 item25"
      "item28 item29 item30"
      "item31 item32 item33"
      "item34 item35 item36"
      "item34 item37 item38"
      "item39 item40 item41"
      "item42 item43 item44"
      "item45 item46 item47"
      "item48 item49 item50"
      ". . ."
      ". . ."; 
  }
  
  .single__photo img {
    width: 125px;
    height: 250px;
    border: 1px solid white;
    object-fit: cover;
  }

.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }
.item6 { grid-area: item6; }
.item7 { grid-area: item7; }
.item8 { grid-area: item8; }
.item9 { grid-area: item9; }
.item10 { grid-area: item10; }
.item11 { grid-area: item11; }
.item12 { grid-area: item12; }
.item13 { grid-area: item13; }
.item14 { grid-area: item14; }
.item15 { grid-area: item15; }
.item16 { grid-area: item16; }
.item17 { grid-area: item17; }
.item18 { grid-area: item18; }
.item19 { grid-area: item19; }
.item20 { grid-area: item20; }
.item21 { grid-area: item21; }
.item22 { grid-area: item22; }
.item23 { grid-area: item23; }
.item24 { grid-area: item24; }
.item25 { grid-area: item25; }
.item26 { grid-area: item26; }
.item27 { grid-area: item27; }
.item28 { grid-area: item28; }
.item29 { grid-area: item29; }
.item30 { grid-area: item30; }
.item31 { grid-area: item31; }
.item32 { grid-area: item32; }
.item33 { grid-area: item33; }
.item34 { grid-area: item34; }
.item35 { grid-area: item35; }
.item36 { grid-area: item36; }
.item37 { grid-area: item37; }
.item38 { grid-area: item38; }
.item39 { grid-area: item39; }
.item40 { grid-area: item40; }
.item41 { grid-area: item41; }
.item42 { grid-area: item42; }
.item43 { grid-area: item43; }
.item44 { grid-area: item44; }
.item45 { grid-area: item45; }
.item46 { grid-area: item46; }
.item47 { grid-area: item47; }
.item48 { grid-area: item48; }
.item49 { grid-area: item49; }
.item50 { grid-area: item50; }