.post__elements {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.post__header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 6px;

}

.post__header img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.post__details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

span {
    font-weight: bold;
}

.like--icon__div {
    padding: 4px;
}

.post__contents {
    width: 100%;
}

.post__contents img {
    width: 100%;
}