.modal__chat {
    color: white;
}

.modal__info {
    color: white;
}

.hide {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background-color: transparent;
}

.shown {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #cac9c9;
    z-index: 9;
}

.modal__button {
    position: absolute;
    top: 50%;
    left: 50%;
}

p {
    font-weight:600;
}

.chat__content {
    position: absolute;
    bottom: 120px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    font-weight: 500;
}
.chat {
    
    
}

.right {
    color: black;
    width: 60%;
    height: 50px;
    background-color: #ffffff;
    border: #ffffff;
    outline: #ffffff;
    border-radius: 10px;
    text-align: right;
    
    transform: translateX(calc(60%));
}

.left {
    color: black;
    width: 60%;
    text-align: left;
    height: 50px;
    background-color: #ffffff;
    border: #ffffff;
    outline: #ffffff;
    border-radius: 10px;
    transform: translateX(12px);
}