body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  
}

* {box-sizing: border-box;
padding: 0;
margin: 0;
text-align: center;}

*::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 667px) {
    #root {
      width: 50vw;
    }
}